.container {
	display: flex;
	background-color: rgb(21, 101, 192);
	opacity: 0.4;
	padding: 2px;
	margin: 2px;
	border: 2px solid red;
	border-radius: 8px;
	padding: 5px;
	 
}

.navigation {
	/* display: flex; */
	flex: 1 1 0%;
}

.home {
	display: flex;
	flex-direction: center;
}
.icon {
	margin-right: 4px;
}